.game-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.game {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

.game h2 {
    margin-bottom: 10px;
}

.game a {
    display: block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.game a:hover {
    background-color: #0056b3;
}
body {
    background-image: url('https://rare-gallery.com/uploads/posts/513882-casino.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    /* You can also add additional background properties like background-color or background-repeat if needed */
}
h2 {
color: white;
}
h1 
{
color:red;
}
